<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiangshan.knowledge">

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.JiangshanApp">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.SubjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.SelectAnserModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.ChapterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.ExamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.HistoryAnswerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.news.ArticleDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.person.PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.person.SelectSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.person.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.person.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.list.LearnListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>